//BACKEND
body{
    overflow-x:hidden;
}
//icons
.fa-edit{
    color: white;
    padding:0;
}

.fa-trash-alt{
    color: white;
    padding:0;
}

.fa-eye{
margin-right: 10px;
color: rgba($color: #000000, $alpha: 0.5)!important;
text-align: left;
vertical-align: middle!important;
}
.fa-eye:hover{
    color: rgba($color: #000000, $alpha: 1)!important;
}

.fa-long-arrow-alt-left{
    margin-top:5px;
}

.actualidad-content table{
    margin-top:100px!important;
    z-index: -2;
}
.content-header{
    height:110px;
    z-index: 1;
    width: 80%!important;
    box-sizing: border-box;
    border-bottom: 2px solid grey;
    margin-top:0;
    padding:0px 25px 0px 25px;
    float: right!important;
    position: fixed;
    background-color: rgb(219, 213, 213);
    h1{
        margin-top:35px;
    }

}
.actualidad-content{
    z-index: 1;
}
.content-admin{
    width: 80%;
    margin-top:75px;
    float: right;

    position:relative;
}
#app{
    box-sizing: border-box;
    a{
        color: white;
    }
}
.dropdown-menu{
    background-color: #545b62!important;
}

.dropdown-menu a:hover{
    background-color: #6c757d!important;
}
//header admin
.navbar{
    background-color: #545b62!important;
    height:75px;
    position: fixed!important;
    z-index: 1;

}

.navbar-brand{
    color:white!important;

}
 //menu-admin
.admin-panel{
    width: 20%;
    height: 100%;
    float:left;
    position:fixed;
    padding: 0!important;
    border-right: solid 1px grey;
    background-color: #6c757d;
    ul{
        margin-top:27px;
    li{
        height:40px;
        color:white;
        width: 100%!important;
        padding: 0;
        border-top: solid 1px white;
        border-right: none;
    a{
        padding-left: 70px;
        line-height: 40px;
        color:white;
    }
    }
    }

}
.admin-panel div{
    margin-top:113px;
    h1{
        padding: 0px 25px 0px 25px;
        text-align: center;
        color:white;
    }
}
.bottom{
    border-bottom:solid 1px white;
}
li:hover{
    background-color: #545b62;
    cursor:pointer;
}
.btn-group {
    margin-top:5px;
    float: right;
}


//ACTUALIDAD


.btn-group a{
    color:white;
}

td{
    width: 100px;
    padding:10px 0px 10px 0px!important;
    text-align:center;
    height: 55px!important;
    background-color: white;
    font-size: 13px;
    vertical-align: middle!important;

    .img{
        padding: 5px 5px 5px 5px!important;
    }
}
.text-news-back{

    padding: 0!important;
    margin: 0!important;
      width: 50px;
        height: 40px;
    padding: 0;
        overflow:hidden!important;
        margin: 0!important;
    div{
        width: 30px!important;
        overflow: hidden;
        padding:0px!important;
        margin: 0 auto!important;
        }
}

.ellipsis{
    width: 100px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis!important;
    margin: auto;
}

table th{
    text-align: center;
    width: 150px;

}

.th-small{
    width: 50px!important;

}


.timestamp{

    padding: 0!important;
    div{
        width: 139!important;
    }
}

.actualidad-create{
    margin-top:80px!important;
    padding:50px 50px 0px 50px;
    background-color: #dbd5d5;
    form{
        margin:0;
        .card{
            border: solid 1px #545b62;
            input{
                border: solid 1px #dbd5d5;
            }
        }
    }
}
select{
    overflow: auto!important;
}
.border-none{
    border:none!important;
}

.form-group{
    padding: 20px!important;

}

//obras

.categorias-obra-index{
    width: 100%;
        select{
            width:20%;
        }
    }


//LOGIN

.fondo-login{

    background-color: rgb(231, 226, 226);
    z-index: 1;

    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
