//BACKEND-------------------------------------------------------------------------------------------------------------//
body{
    overflow-x:hidden;
}
//icons---------------------------------------------------------------------------------------------------------------//
.fa-edit{
    color: white;
    padding:0;
}

.fa-trash-alt{
    color: white;
    padding:0;
}

.fa-eye{
margin-right: 10px;
color: rgba($color: #000000, $alpha: 0.5)!important;
text-align: left;
vertical-align: middle!important;
}
.fa-eye:hover{
    color: rgba($color: #000000, $alpha: 1)!important;
}

.fa-long-arrow-alt-left{
    margin-top:5px;
}

//COMPONENTS---------------------------------------------------------------------------------------------------------//
.content-header{
    height:110px;
    z-index: 1;
    width: 80%!important;
    box-sizing: border-box;
    border-bottom: 2px solid grey;
    margin-top:0;
    padding:0px 25px 0px 25px;
    float: right!important;
    position: fixed;
    background-color: #e7e1e1;
    h1{
        margin-top:35px;
        font-weight: bold;
        color:#545b62;
    }
}

label{
    color: black;
    font-size: 16px;
}

input{
    border-color:black!important;
}
select{
    border-color:black!important;
    color:black;
}
.filter-button{
    padding:5px 10px 5px 10px!important;
}
.input-button{
    border:none!important;
}


.btn-group {
    margin-top:5px;
    float: right;
    label{
        line-height: 35px;
    }
}

.btn-group a{
    color:white;

}
.content-table{
padding: 0px 25px 0px 25px;
}

.create{
    margin-top:80px!important;
    padding:50px 50px 0px 50px;
    background-color: #dbd5d5;
    form{
        margin:0;
        .card{
            border: solid 1px #545b62;
            input{
                border: solid 1px #dbd5d5;
            }
        }
    }
}




// ACTUALIDAD CONTENT
.actualidad-content table{
    margin-top:100px!important;
    z-index: -2;
}

.actualidad-content{
    z-index: 1;
}
.content-admin{
    width: 80%;
    margin-top:75px;
    float: right;

    position:relative;
}

td{
    width: 100px;
    padding:10px 0px 10px 0px!important;
    text-align:center;
    height: 55px!important;
    background-color: white;
    font-size: 13px;
    vertical-align: middle!important;

    .img{
        padding: 5px 5px 5px 5px!important;
    }
}

.text-news-back{

    padding: 0!important;
    margin: 0!important;
      width: 50px;
        height: 40px;
    padding: 0;
        overflow:hidden!important;
        margin: 0!important;
    div{
        width: 30px!important;
        overflow: hidden;
        padding:0px!important;
        margin: 0 auto!important;
        }
}

.ellipsis{
    width: 100px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis!important;
    margin: auto;
}

table th{
    text-align: center;
    width: 150px;

}

.th-small{
    width: 50px!important;

}


.timestamp{

    padding: 0!important;
    div{
        width: 139!important;
    }
}



.header-left-button{
    border-radius: 6px 0px 0px 6px!important;
    height:51px;
}
.edit-new-button{
    border-radius: 0px 4px 4px 0px!important;
}
.btn-header-between-buttons{
    border-radius:0!important;
    height:51px!important;
}

.header-right-button{
    border-radius: 0px 6px 6px 0px!important;
    height:51px;
}



//obras

.categorias-obra-index{
    width: 100%;
        select{
            width:20%;
        }
    }
.filter{
    height: 28px;
    width: 150px;
    border:none!important;
}

.filter-btn{

    background-color: #6c757d;
    color:white;
    height: 51px!important;
    font-weight: bold;
}
.content-btn{
    padding:0;
}
.filter-btn:hover{
    background-color: #5a6268;
}
.form-cards{
    padding:20px!important;
    height:151px!important;
}

.card-image-edit{
    height:151px!important;
    div{
        width: 100%;
        height: 100%;
        display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

    }
}

.card-image-create{
    height:151px!important;

}
.form-file-edit{
    padding:10!important;
}
// .img-form{
//     height:151px!important;

// }

.file{
    border:none!important;
    padding-left: 20px!important;
    margin:0 auto;
    text-align: center;
}

.footer-buttons{
    display: flex;
    div{
        margin-left:25px;
    }
}

//LOGIN

.fondo-login{

    background-color: rgb(231, 226, 226);
    z-index: 1;

    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}
