body, html {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

.content-framwork-1{
    padding: 100px 100px 100px 100px;
}

.two-colums{
    display: flex;
    margin: 50px 0px 50px 0px;
}

//text

h2{
    font-family: 'futura-bold'!important;
    margin: 0!important;
}
.p-half-wide{
width: 600px!important;
margin-left: 25px;
    p{
        font-size: 20px!important;
        text-align: justify;
        margin: 0!important;
    }
}
.p-all-wide{
    width: 100%;
    margin:50px 0px 0px 0px;
    p{
        font-size: 20px!important;
        text-align: justify;
        margin: 0!important;
    }
}
.p-center p{
    text-align: center;
}




