
//Biografia
.half-wide1{
    width: 600px;
    height: 659px;
    background-image: url("../../public/img/lluis/lluisvila-07.jpg");
    background-size: cover;
    margin-right: 25px;
    border: solid 1px black;
}

.half-wide2{
    width: 600px;
    height: 600px;
    background-image: url("../../public/img/lluis/fullsizeoutput.jpg");
    background-size: cover;
    margin-right: 25px;
    border: solid 1px black;

}
.half-wide3{
    width: 600px;
    height: 600px;
    background-image: url("../../public/img/lluis/LluisVila_04.jpg");
    background-size: cover;
    margin-left: 25px;
    border: solid 1px black;

}
.half-wide4{
    width: 600px;
    height: 900px;
    background-image: url("../../public/img/lluis/LluisVila_02.jpg");
    background-size: cover;
    margin-right: 25px;
    border: solid 1px black;
}
.half-wide5{
    width: 600px;
    height: 900px;
    background-image: url("../../public/img/lluis/LluisVila_CastellDAro.jpg");
    background-size: cover;
    margin-left: 25px;
    border: solid 1px black;

}
 //Eat Art

 .eat_art1{
    width: 385px;
    height: 385px;
    background-image: url("../../public/img/Eat_art/fundacio_miro1.jpg");
    background-size: cover;

 }
 .eat_art2{
    width: 385px;
    height: 385px;
    background-image: url("../../public/img/Eat_art/fundacio_miro3.jpg");
    background-size: cover;
    margin: 0px 15px 0px 15px;

 }
 .eat_art3{
    width: 385px;
    height: 385px;
    background-image: url("../../public/img/Eat_art/fundacio_miro2.jpg");
    background-size: cover;

 }
