
//Biografia
.half-wide1{
    width: 600px;
    height: 659px;
    background-image: url("../../public/img/lluis/lluisvila-07.jpg");
    background-size: cover;
    margin-right: 25px;
    border: solid 1px black;
}

.half-wide2{
    width: 600px;
    height: 600px;
    background-image: url("../../public/img/lluis/fullsizeoutput.jpg");
    background-size: cover;
    margin-right: 25px;
    border: solid 1px black;

}
.half-wide3{
    width: 600px;
    height: 600px;
    background-image: url("../../public/img/lluis/LluisVila_04.jpg");
    background-size: cover;
    margin-left: 25px;
    border: solid 1px black;

}
.half-wide4{
    width: 600px;
    height: 900px;
    background-image: url("../../public/img/lluis/LluisVila_02.jpg");
    background-size: cover;
    margin-right: 25px;
    border: solid 1px black;
}
.half-wide5{
    width: 600px;
    height: 900px;
    background-image: url("../../public/img/lluis/LluisVila_CastellDAro.jpg");
    background-size: cover;
    margin-left: 25px;
    border: solid 1px black;

}
//Prensa
.img-prensa-1{

}
