
//Biografia
.half-wide1{
    width: 600px;
    height: 659px;
    background-image: url("../../public/img/lluis/lluisvila-07.jpg");
    background-size: cover;
    margin-right: 25px;
    border: solid 1px black;
}

.half-wide2{
    width: 600px;
    height: 600px;
    background-image: url("../../public/img/lluis/fullsizeoutput.jpg");
    background-size: cover;
    margin-right: 25px;
    border: solid 1px black;

}
.half-wide3{
    width: 600px;
    height: 600px;
    background-image: url("../../public/img/lluis/LluisVila_04.jpg");
    background-size: cover;
    margin-left: 25px;
    border: solid 1px black;

}
.half-wide4{
    width: 600px;
    height: 900px;
    background-image: url("../../public/img/lluis/LluisVila_02.jpg");
    background-size: cover;
    margin-right: 25px;
    border: solid 1px black;
}
.half-wide5{
    width: 600px;
    height: 900px;
    background-image: url("../../public/img/lluis/LluisVila_CastellDAro.jpg");
    background-size: cover;
    margin-left: 25px;
    border: solid 1px black;

}
 //Eat Art

 .eat_art1{
    width: 385px;
    height: 350px;
    background-image: url("/img/Eat_art/fundacio_miro1.jpg");
    background-size: cover;

 }
 .eat_art2{
    width: 385px;
    height: 350px;
    background-image: url("/img/Eat_art/fundacio_miro3.jpg");
    background-size: cover;
    margin: 0px 30px 0px 30px;

 }
 .eat_art3{
    width: 385px;
    height: 350px;
    background-image: url("/img/Eat_art/fundacio_miro2.jpg");
    background-size: cover;

 }

 //obras

 .obras-img{
     width: 150px;
     height: 150px;
 }

 //actuaidad

 .img-news{
    width: 200px;
    height: 200px;
 }
 //obra

 .img-obra{
    width: 200px;
    height: 200px;
 }
