
.welcome{
    height: 610px!important;
    border-top: solid 1px black;
}
.slide_eat{
    padding: 50px;
}
.eat{
    border: solid 1px black;
    height: 584px!important;
}


.carousel-inner {
    height: 100%;
    z-index: -1!important;
}


.carousel-item div{
    padding: 0!important;
    margin: 0px 10px 0px 11.2px!important;
    width: 260px!important;

    }

div img{
    z-index: 2!important;
    }

.black-text1{
    z-index: 2;
    position: absolute;
    color:black;
    float: left;
    margin-top:65px;
}

.black-text2{
    z-index: 2;

    color:black;
    float: right;
    margin-top:65px;
}

